<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Btc Japan Tour</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <!-- Static Links -->
      <li class="nav-item">
        <a class="nav-link text-light" href="/">Home</a>
      </li>
      
      <!-- Dynamic Links based on user role -->
      
        
        <% if (user && user.role === 'admin') { %>
          <li class="nav-item">
            <a class="nav-link text-light" href="/users">Manage Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/addBookings">Add Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/bookingsList">Bookings List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/Calender">Calender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/TTour">Tours</a>
          </li>
        <% } %>
        
        <% if (user && user.role === 'semi_admin') { %>
          <li class="nav-item">
            <a class="nav-link text-light" href="/bookingList">Bookings List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/Calenders">Calender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/TTours">Tours</a>
          </li>
        <% } %>
        <% if (user && user.role === 'driver') { %>
          
          <li class="nav-item">
            <a class="nav-link text-light" href="/Driver_BookingList">Tours</a>
          </li>
        <% } %>
        
       
      
    </ul>
  </div>
</nav>
